<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sobre Nós</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- conectando cdn font awesoma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link do CSS -->
    <link rel="stylesheet" href="/frontend/static/style/sobrenos.css">
</head>
  <body>
    <!-- NAVBAR -->

    <div class="bannernav">
        <header>
            <div class="navbar">
                <div class="logo"><a class="a" href='/sitio-alto-da-serra/home'>Sítio Alto da Serra</a></div>
                <ul class="links">
                    <li class="li"><a class="a" href='/sitio-alto-da-serra/home'>Home</a></li>
                    <li class="li"><a class="a" href="/sitio-alto-da-serra/sobre-nos">Sobre Nós</a></li>
                    <li class="li"><a class="a" href="/sitio-alto-da-serra/produtos">Geleias</a></li>
                    <li class="li"><a class="a" href="#" id="contato-btn">Contato</a></li>
                </ul>
                
                <div class="toggle_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
    
    
            <div class="dropdown_menu">
                <li class="li"><a class="a" href="/sitio-alto-da-serra/home">Home</a></li>
                    <li class="li"><a class="a" href="/sitio-alto-da-serra/sobre-nos">Sobre Nós</a></li>
                    <li class="li"><a class="a" href="/sitio-alto-da-serra/produtos">Geleias</a></li>
                    <li class="li"><a class="a" href="#" id="contato-btn-dropdown">Contato</a></li>
                    
            </div>
        </header>
    </div>

    <!-- Mid Page -->

    <section class="py-5">
        <div class="container">
            <div class="row align-items-center gx-4">
                <div class="col-md-5">
                    <div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" src="/frontend/static/images/sobrenosvioleta.png"></div>
                </div>
                <div class="col-md-6 offset-md-1">
                    <div class="ms-md-2 ms-lg-5">
                        <h2 class="display-5 fw-bold">Sobre Nós</h2>
                        <p class="lead">Somos um casal de produtores rurais que encontrou na natureza e na agroecologia a nossa paixão e missão de vida. Desde 2016, nos dedicamos à agricultura em Minas Gerais, e a partir de 2019, transferimos nosso projeto para Natividade da Serra, São Paulo. Cultivamos hortaliças e frutas com cuidado e dedicação, tanto para o nosso consumo quanto para atender nossos clientes no Litoral Norte de São Paulo.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row gx-4 align-items-center justify-content-between">
                <div class="col-md-6 order-2 order-md-1">
                    <div class="mt-5 mt-0 me-md-3 me-lg-5">
                        <h2 class="display-5 fw-bold">Quem Somos</h2>
                        <p class="lead">Violeta Martínez, Engenheira Agrônoma de origem mexicana, e Juliano Hojah, brasileiro, Engenheiro Florestal, somos pais da Clara e apaixonados pela natureza e pela agroecologia. Como agricultores e empreendedores rurais, encontramos no campo a realização de nossos ideais e um estilo de vida que valoriza a sustentabilidade e o cuidado com o meio ambiente.</p>
                    </div>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="row gx-2 gx-lg-3">
                        <div class="col-6"><img class="img-fluid rounded-3" src="/frontend/static/images/quemsomosjuliano.jpg"></div>
                        <div class="col-6"><img class="img-fluid rounded-3" src="/frontend/static/images/quemsomosvioleta.jpg"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center text-center mb-3">
                <div class="col-lg-8 col-xl-7">
                    <h2 class="display-5 fw-bold">Nossos Objetivos</h2>
                </div>
            </div>
            <br><br>
            <div class="row g-4 g-md-5">
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="text-primary me-4">
                            <img src="/frontend/static/images/geleia.png" alt="Descrição do Ícone" width="32" height="32">
                        </div>
                        <div>
                            <h5 class="mb-2 mb-lg-3 fw-bold">Sabor e Qualidade</h5>
                            <p>Cada pote de geleia do Sítio Alto da Serra é feito com ingredientes frescos e selecionados, garantindo que o sabor e a qualidade sejam os protagonistas. Trabalhamos com frutas colhidas no auge de seu sabor, transformando-as em produtos que trazem a verdadeira essência do nosso sítio.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="text-primary me-4">
                            <img src="/frontend/static/images/natureza.png" alt="Descrição do Ícone" width="32" height="32">
                        </div>
                        <div>
                            <h5 class="mb-2 mb-lg-3 fw-bold">Sustentabilidade e Tradição</h5>
                            <p>O Sítio Alto da Serra combina práticas sustentáveis com técnicas tradicionais, valorizando o que a natureza tem de melhor. Nossa produção respeita o meio ambiente e resgata receitas que atravessam gerações, proporcionando um produto autêntico e comprometido com o planeta.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="text-primary me-4">
                            <img src="/frontend/static/images/objetivo.png" alt="Descrição do Ícone" width="32" height="32">
                        </div>
                        <div>
                            <h5 class="mb-2 mb-lg-3 fw-bold">Praticidade e Confiabilidade</h5>
                            <p>Queremos que nossos clientes tenham uma experiência fácil e confiável ao navegar em nosso site. Nossa plataforma foi criada para tornar a compra das nossas geleias naturais o mais simples possível, refletindo a confiança e transparência que oferecemos em cada produto.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="text-primary me-4">
                            <img src="/frontend/static/images/salvar-a-natureza.png" alt="Descrição do Ícone" width="32" height="32">
                        </div>
                        <div>
                            <h5 class="mb-2 mb-lg-3 fw-bold">Explorando Novos Horizontes</h5>
                            <p>No Sítio Alto da Serra, queremos inspirar você a descobrir novas formas de apreciar nossas geleias. Além de serem perfeitas para o café da manhã, nossas geleias artesanais podem transformar receitas e trazer um toque especial a pratos diversos. A cada pote, convidamos você a explorar combinações únicas e a saborear a essência da nossa terra em cada colherada.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <!-- Seção Conheça Nosso Site -->
    <section class="secao-conhecanossosite">
        <div class="container-conhecanossosite">
            <div class="linha-conhecanossosite align-items-center">
                <div class="coluna-imagem-conhecanossosite">
                    <div class="imagem-wrapper-conhecanossosite">
                        <img class="imagem-conhecanossosite" src="/frontend/static/images/siteoutro.png" alt="Imagem do outro site">
                    </div>
                </div>
                <div class="coluna-texto-conhecanossosite">
                    <div class="texto-wrapper-conhecanossosite">
                        <h2 class="titulo-conhecanossosite">Conheça nosso outro Site</h2>
                        <p class="descricao-conhecanossosite">Apesar de termos esse site de comercialização de geleias, temos um outro site de comércio eletrônico, onde você pode encontrar uma variedade de produtos, incluindo geleias, processados, frutas e outras delícias. Este site é dedicado a oferecer uma experiência de compra conveniente e segura para nossos clientes.
                        <a href="https://fazafeira.com/sitiodoaltodaserra" target="_blank">https://fazafeira.com/sitiodoaltodaserra</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer" >
        <div class="container-footer" style="padding: 0 15px">
            <div class="row">
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="/sitio-alto-da-serra/sobre-nos">Home</a></li>
                        <li><a href="/sitio-alto-da-serra/sobre-nos">Sobre Nós</a></li>
                        <li><a href="#">Geleias</a></li>
                        <li><a href="#">Admin</a></li>
                    </ul>
                </div>
                
                <div class="footer-col">
                    <h4>Contato</h4>
                    <ul>
                        <li><a href="#">Email: violetahojah@gmail.com</a></li>
                        <li><a href="#">Phone: <br> +55 (12)99769-0384</a></li>
                        <li><a href="#">Endereço: <br> Bairro Alto, Natividade da Serra 12.180-000 </a></li>
                        
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Nossas Redes Sociais</h4>
                    <div class="social-links">
                        <a href="https://www.instagram.com/sitiodoaltodaserra/"><i class="fab fa-instagram"></i></a>
                        <a href="https://wa.me/551299769-0384?"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
   
       <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/frontend/static/scripts/navbar.js"></script>    
    <!-- scipt tooglebutton -->
   <script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function() {
        dropDownMenu.classList.toggle('open')
        const isOpen = dropDownMenu.classList.contains('open')

        toggleBtnIcon.classList = isOpen
        ? "fa-solid fa-xmark"
        : "fa-solid fa-bars"
    }
    </script>
    <script>
        // script.js
        document.getElementById('contato-btn').addEventListener('click', function(event) {
            event.preventDefault(); // Evita o comportamento padrão do link
            document.getElementById('footer').scrollIntoView({ behavior: 'smooth' });
        });

        document.getElementById('contato-btn-dropdown').addEventListener('click', function(event) {
            event.preventDefault(); // Evita o comportamento padrão do link
            document.getElementById('footer').scrollIntoView({ behavior: 'smooth' });
        });

     </script>
  </body>
</html>