<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sitio Alto da Serra</title>

     <!-- conectando cdn font awesoma -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Linking Swiper JS -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <!-- Linking Google Fonts Icon -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_forward" />
    <!-- Linking Arquivo CSS -->
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>

    <!-- NAVBAR -->

    <div
			class="bannernav"
			th:style="'background-image: url(data:image/png;base64,' + ${banner.getImage()} + ')'"
		>
			<header>
				<div class="navbar">
					<div class="logo">
						<a class="a" href="/home">Sítio Alto da Serra</a>
					</div>
					<ul class="links">
						<li class="li">
							<a class="a" href="/home">Home</a>
						</li>
						<li class="li">
							<a class="a" href="/sobre-nos">Sobre Nós</a>
						</li>
						<li class="li">
							<a class="a" href="/produtos">Geleias</a>
						</li>
						
					</ul>

					<div class="toggle_btn">
						<i class="fa-solid fa-bars"></i>
					</div>
				</div>

				<div class="dropdown_menu">
					<li class="li">
						<a class="a" href="/home">Home</a>
					</li>
					<li class="li">
						<a class="a" href="/sobre-nos">Sobre Nós</a>
					</li>
					<li class="li">
						<a class="a" href="/produtos">Geleias</a>
					</li>
					
				</div>
			</header>
		</div>

    <!-- Catálogo -->

    <section>
        <div class="nossas-geleias">
            <div class="container">
                <div class="section-title">
                    <h1 class="h1-carrosel">Produtos Oferecidos</h1>
                    <p class="p-carrosel">Explore nossas Geleias Artesanais feitas com Ingredientes Selecionados</p>
                </div>
                <div class="div-carrousel">
                    <div class="container swiper">
                        <div class="card-wrapper">
                            <ul class="card-list swiper-wrapper" >
                                <tr th:each="product : ${products}">
                                    <li class="card-item swiper-slide">
                                        <a th:href="${product.getURL()}" class="card-link">
                                            <img th:src="'data:image/png;base64,' + ${product.getImage()}" alt="Card Image" class="card-image" />
                                            <h2 class="card-title" th:href="${product.getURL()}" th:text="${product.getName()}">
                                                Ops... houve um erro ao carregar o produto.
                                            </h2>
                                            <button class="card-button" th:attr="onclick='window.location.href=\'' + ${product.getURL()} + '\''">
                                                Ver Produto
                                            </button>
                                        </a>
                                    </li>
                                </tr>
                            </ul>

                            <div class="swiper-pagination"></div>
                            <div class="swiper-slide-button swiper-button-prev"></div>
                            <div class="swiper-slide-button swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Seção Informativa Sobre Nós -->

    <section class="sobre-nos">
        <div class="container-sobre-nos">
            <div class="about-content">
                <h1>Sobre Sítio Alto da Serra</h1>
                <p th:text="${about.getDescription()}">Ops... houve um erro ao carregar o texto.</p>
                <a href="/sobre-nos">
                    <button class="btn-sobre-nos">Veja Mais</button>
                </a>
            </div>

            <div class="about-image">
                <img th:src="'data:image/png;base64,' + ${about.getImage()}" alt="">
            </div>
        </div>
    </section>


    <!-- PROCESSOS -->

    <section>
        <div class="nossas-geleias">
            <div class="container">
                <div class="section-title">
                    <h1 class="h1-carrosel">Do Pomar à Mesa</h1>
                    <p class="p-carrosel">Conheça o Processo Artesanal da Geleia Sítio Alto da Serra</p>
                </div>
                <div class="div-carrousel">
                    <div class="container swiper">
                        <div class="card-wrapper">
                            <ul class="card-list swiper-wrapper">

                                <li class="card-item swiper-slide">
                                    <a href="#" class="card-link">
                                        <img th:src="'data:image/png;base64,' + ${dummy_product_1.getImage()}" alt="Card Image" class="card-image-processos" />
                                        <div class="processos-text">
                                            <p class="card-text" th:text="${dummy_product_1.getDescription()}">
                                                Ops... houve um erro ao carregar o texto.
                                            </p>
                                        </div>

                                    </a>
                                </li>


                                <li class="card-item swiper-slide">
                                    <a href="#" class="card-link">
                                        <img th:src="'data:image/png;base64,' + ${dummy_product_2.getImage()}" alt="Card Image" class="card-image-processos" />
                                        <div class="processos-text">
                                            <p class="card-text" th:text="${dummy_product_2.getDescription()}">
                                                Ops... houve um erro ao carregar o texto.
                                            </p>
                                        </div>

                                    </a>
                                </li>

                                <li class="card-item swiper-slide">
                                    <a href="#" class="card-link">
                                        <img th:src="'data:image/png;base64,' + ${dummy_product_3.getImage()}" alt="Card Image" class="card-image-processos" />
                                        <div class="processos-text">
                                            <p class="card-text" th:text="${dummy_product_3.getDescription()}">
                                                Ops... houve um erro ao carregar o texto.
                                            </p>
                                        </div>

                                    </a>
                                </li>


                            </ul>

                            <div class="swiper-pagination"></div>
                            <div class="swiper-slide-button swiper-button-prev"></div>
                            <div class="swiper-slide-button swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- TESTIMONIALS -->

    <section class="section-testimonial">
        <div class="section__container">
            <div class="header">
              <h1>Depoimentos</h1>
              <p>Veja o que nossos clientes estão dizendo!</p>
            </div>
            <div class="testimonials__grid">
              <div class="card">
                <span><i class="ri-double-quotes-l"></i></span>
                <p th:text="${testimonial_1.testimonialPart1()}">
                    Ops... houve um erro ao carregar o texto.
                </p>
                <hr />
                <img th:src="'data:image/png;base64,' + ${testimonial_1.getImage()}" />
                <p class="name" th:text="${testimonial_1.testimonialPart2()}">
                    Ops... houve um erro ao carregar o texto.
                </p>
              </div>
              <div class="card">
                <span><i class="ri-double-quotes-l"></i></span>
                <p th:text="${testimonial_2.testimonialPart1()}">
                    Ops... houve um erro ao carregar o texto.
                </p>
                <hr />
                <img th:src="'data:image/png;base64,' + ${testimonial_2.getImage()}" />
                <p class="name" th:text="${testimonial_2.testimonialPart2()}">
                    Ops... houve um erro ao carregar o texto.
                </p>
              </div>
              <div class="card">
                <span><i class="ri-double-quotes-l"></i></span>
                <p th:text="${testimonial_3.testimonialPart1()}">
                    Ops... houve um erro ao carregar o texto.
                </p>
                <hr />
                <img th:src="'data:image/png;base64,' + ${testimonial_3.getImage()}" />
                <p class="name" th:text="${testimonial_3.testimonialPart2()}">
                    Ops... houve um erro ao carregar o texto.
                </p>
              </div>
            </div>
    </section>

    <!-- NEWSLETTER -->

    <section class="section-testimonial">
        <div class="section__container">
            <div class="header">
              <h1>Saboreie Nossas Novidades</h1>
              <p>Mantenha-se atualizado com as últimas delícias e promoções do Sítio Alto da Serra</p>
            </div>
            <form
                class="container-newsletter"
				th:action="@{/newsletter/register}"
				th:object="${newsletter}"
				method="post"
			>
                <input type="email" placeholder="Email" th:field="*{email}">
                <button class="newsletter-btn" type="submit">Inscreva-se</button>
            </form>
    </section>



    <!-- FOOTER -->
    <footer class="footer" >
        <div class="container-footer" style="padding: 0 15px">
            <div class="row">
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/sobre-nos">Sobre Nós</a></li>
                        <li><a href="/produtos">Geleias</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Contato</h4>
                    <ul>
                        <li><a href="#">Email: <br th:text="${email.description}"></a></li>
                        <li><a href="#">Phone: <br th:text="${phone.description}"></a></li>
                        <li><a href="#">Endereço: <br th:text="${address.description}"></a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Nossas Redes Sociais</h4>
                    <div class="social-links">
                        <a th:href="${instagram.description}" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a th:href="${whatsapp.description}" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>







    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/scripts/index.js"></script>
    <script src="/scripts/navbar.js"></script>
    <!-- scipt tooglebutton -->
     <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function() {
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')

            toggleBtnIcon.classList = isOpen
            ? "fa-solid fa-xmark"
            : "fa-solid fa-bars"
        }
     </script>
     <script>
        // script.js
        document.getElementById('contato-btn').addEventListener('click', function(event) {
            event.preventDefault(); // Evita o comportamento padrão do link
            document.getElementById('footer').scrollIntoView({ behavior: 'smooth' });
        });

        document.getElementById('contato-btn-dropdown').addEventListener('click', function(event) {
            event.preventDefault(); // Evita o comportamento padrão do link
            document.getElementById('footer').scrollIntoView({ behavior: 'smooth' });
        });

     </script>
</body>

</html>