/* import Google Gonts Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
	font-family: "EB Garamond", sans-serif;
	background-color: #f3f3f3;
}

h1,
h2,
h3 {
	font-family: "Playfair Display", serif;
	color: #232421;
}

p,
li,
span {
	font-family: "EB Garamond", sans-serif;
	font-size: 18px;
}

.navbar {
	font-family: "EB Garamond", sans-serif;
}

.container .row .col-md-5 .ms-md-2 .img-fluid {
	max-width: 100%; /* Garante que a imagem ocupe todo o espaço disponível */
	height: auto; /* Mantém a proporção da imagem */
	object-fit: cover; /* Evita distorções ao preencher o espaço */
	margin-top: 40px;
	margin-bottom: 25px;
}

.text-primary img {
	width: 32px;
	height: 32px;
	/* Outras customizações */
}

/* Seção principal */
.secao-conhecanossosite {
	padding: 5rem 0;
	background-color: #f3f3f3;
}

/* Container principal */
.container-conhecanossosite {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}

/* Linha */
.linha-conhecanossosite {
	display: flex;
	align-items: flex-start; /* Alinha ao topo para evitar que a imagem vá para cima */
	gap: 14rem; /* Mantém a distância entre o texto e a imagem */
	flex-wrap: nowrap; /* Impede que os elementos quebrem para a próxima linha */
	flex-direction: row-reverse; /* Garante que a imagem fique à esquerda e o texto à direita */
}

/* Coluna para imagem */
.coluna-imagem-conhecanossosite {
	flex: 1 1 50%; /* Aumenta o espaço ocupado pela imagem */
}

.imagem-wrapper-conhecanossosite {
	margin: 0 auto;
}

.imagem-conhecanossosite {
	max-width: 100%;
	height: auto;
	border-radius: 12px;
	object-fit: cover;
	transform: scale(1.5); /* Amplia a imagem levemente */
	margin-bottom: 25px;
	margin-right: 25px;
}

/* Coluna para texto */
.coluna-texto-conhecanossosite {
	flex: 1 1 70%; /* Aumenta a largura da coluna de texto */
}

.texto-wrapper-conhecanossosite {
	margin-left: auto;
	margin-right: auto;
	padding: 0 1rem;
	max-width: 800px; /* Permite que o texto ocupe mais espaço horizontalmente */
	width: 100%;
}

/* Estilo do título */
.titulo-conhecanossosite {
	font-family: "Playfair Display", serif;
	font-weight: bold;
	color: #232421;
	font-size: 2.5rem; /* Mantém o tamanho do título */
	text-align: left; /* Garante alinhamento claro */
	margin-bottom: 1rem;
}

/* Estilo do parágrafo */
.descricao-conhecanossosite {
	font-family: "EB Garamond", serif;
	color: #333333;
	margin-bottom: 1.5rem;
	font-size: 1.25rem; /* Tamanho do texto confortável */
	line-height: 1.8; /* Espaçamento entre linhas para melhorar a legibilidade */
	text-align: justify; /* Texto justificado para boa aparência */
}

.descricao-conhecanossosite {
	a {
		color: #18492c; /* Ajuste a cor desejada aqui */
		text-decoration: underline;
	}
	a:hover {
		color: #64732f; /* Cor ao passar o mouse */
	}
}

/* Ajustes de Responsividade para a Seção "Conheça Nosso Outro Site" */

@media screen and (max-width: 768px) {
	.linha-conhecanossosite {
		flex-direction: column;
		gap: 2rem;
	}
	.imagem-conhecanossosite {
		transform: scale(1);
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.titulo-conhecanossosite {
		text-align: center;
	}
	.descricao-conhecanossosite {
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 1317px) {
	.linha-conhecanossosite {
		flex-direction: row;
		gap: 2rem;
		align-items: center;
		justify-content: center;
		padding: 0 1rem;
	}
	.imagem-conhecanossosite {
		transform: scale(1);
		width: 100%;
		height: auto;
		margin: 0;
		max-width: 600px;
	}
	.texto-wrapper-conhecanossosite {
		max-width: 600px;
	}
	.titulo-conhecanossosite {
		text-align: left;
	}
	.descricao-conhecanossosite {
		text-align: justify;
	}
}

@media (min-width: 992px) and (max-width: 1317px) {
	.linha-conhecanossosite {
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
	.imagem-conhecanossosite {
		transform: scale(1);
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	.titulo-conhecanossosite {
		text-align: center;
	}
	.descricao-conhecanossosite {
		text-align: center;
	}
}

/* NAV YT */

.li {
	list-style: none;
}

.a {
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
}

.a:hover {
	color: #64732f;
}

/* HEADER NAVBAR */

.bannernav {
	min-height: 80px;
	/* background-image: url(/frontend/static/images/banner-mobile.png); */
	background-position: bottom center;
	background-size: cover;
}

header {
	position: relative;
	padding: 0 2rem;
}

.navbar {
	width: 100%;
	height: 60px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 24px;
	transition: 0.5s;
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links {
	display: flex;
	gap: 2rem;
	margin: 0;
}

.navbar .toggle_btn {
	color: #fff;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

.action_btn {
	background-color: #18492c;
	color: #fff;
	padding: 8px 16px;
	border: none;
	outline: none;
	border-radius: 20px;
	font-size: 0.8rem;
	font-weight: bold;
	cursor: pointer;
	font-family: "Poppins", sans-serif;
}

.action_btn:hover {
	scale: 1.05;
	color: #fff;
	transition: 0.3s;
	transform: ease-in-out;
}

.action_btn:active {
	scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	width: 300px;
	height: 0;
	background: rgba(169, 169, 169, 0.5);
	backdrop-filter: blur(15px);
	border-radius: 10px;
	overflow: hidden;
	z-index: 1000;
	transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	margin-top: 16px;
}

.dropdown_menu.open {
	height: 180px;
}

.dropdown_menu .li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown_menu .action_btn {
	width: 100%;
	display: flex;
	justify-content: center;
}

/* CARROSEL CATÁLOGO */

.section-title h1 {
	font-size: 36px;
	font-weight: lighter;
	text-align: center;
	color: #64732f;
}

.section-title p {
	margin: 24px 24px;
	font-size: 18px;
	text-align: center;
}

.div-carrousel {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 45vh;
}

.card-wrapper {
	max-width: 1100px;
	margin: 0 60px 35px;
	padding: 20px 10px;
	overflow: hidden;
}

.card-list .card-item {
	list-style: none;
}

.card-list .card-item .card-link {
	list-style: none;
	display: block;
	background: #fff;
	padding: 18px;
	border-radius: 12px;
	text-decoration: none;
	border: 2px solid transparent;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
	transition: 0.2s ease;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.card-list .card-item .card-link:active {
	cursor: grabbing;
}

.card-list .card-item .card-link:hover {
	border-color: #18492c;
}

.card-list .card-link .card-image {
	width: 100%;
	height: 280px;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: 10px;
}

.card-list .card-link .card-image-processos {
	width: 100%;
	height: 380px;
	aspect-ratio: 16/9;
	object-fit: cover;
	border-radius: 10px;
}

.card-list .card-link .badge {
	color: #18492c;
	padding: 8px 16px;
	font-size: 0.95rem;
	font-weight: 500;
	margin: 16px 0 18px;
	background: #dde4ff;
	width: fit-content;
	border-radius: 50px;
}

.card-list .card-link .badge.geleia-cambuci-com-manga {
	color: yellow;
	background: greenyellow;
}

.card-list .card-link .card-title {
	font-size: 1.19rem;
	color: #000;
	font-weight: 600;
}

.processos-text {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%; /* Certifique-se de que a altura da div esteja definida */
	text-align: center; /* Centraliza o texto horizontalmente dentro do p */
}

.card-list .card-link .card-text {
	margin: 24px 0;
	font-size: 16px;
	color: #000;
	font-weight: normal;
	align-items: center;
	text-align: center;
	height: 80px;
}

.card-list .card-link .card-button {
	height: 40px;
	width: 80%;
	color: #18492c;
	border-radius: 25px;
	margin: 30px 0 5px;
	background: none;
	cursor: pointer;
	border: 2px solid #18492c;
	transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
	color: #fff;
	background: #18492c;
}

.card-wrapper .swiper-pagination-bullet {
	height: 13px;
	width: 13px;
	opacity: 0.5;
	background: #18492c;
}

.card-wrapper .swiper-pagination-bullet-active {
	opacity: 1;
}

.card-wrapper .swiper-slide-button {
	color: #18492c;
	margin-top: -35px;
}

/* FOOTER */

.container-footer {
	max-width: 1170px;
	margin: auto;
	font-family: "EB Garamond", sans-serif !important;
}
.footer .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

ul {
	list-style: none;
}
.footer {
	background-color: #18492c;
	padding: 70px 0;
}
.footer-col {
	width: 25%;
	padding: 0 15px;
}
.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #fff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}
.footer-col ul li a {
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
}
.footer-col ul {
	padding: 0; /* Remove qualquer padding no <ul> */
	margin: 0; /* Remove margens adicionais no <ul> */
}

.footer-col ul li {
	padding: 0; /* Remove padding das <li> */
	margin: 0; /* Remove margens das <li> */
	list-style-position: inside; /* Garante que os marcadores fiquem dentro do contêiner */
	text-align: left; /* Alinha o texto das <li> à esquerda */
}

.footer-col ul li a {
	padding: 0; /* Remove padding extra */
	margin: 0; /* Garante que não há margens extras */
	text-align: left; /* Certifica-se de que os links estão alinhados */
	display: block; /* Garante que cada link ocupe uma linha */
}
.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
	color: #24262b;
	background-color: #ffffff;
}

/* RESPONSIVE */

@media (max-width: 1300px) {
	.about-image img {
		border-radius: 20px;
		/* background-image: url(/frontend/static/images/sobre\ nos\ 1.png); */
	}
}

@media (min-width: 993px) {
	.navbar {
		padding: 16px 8% 0 8%;
		justify-content: space-between;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 10;
		width: 100%;
		height: 60px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 24px;
		transition: 0.5s;
	}

	.navbar.rolagem {
		background-color: #18492c;
		padding-bottom: 12px;
		height: 80px;
	}

	.navbar .logo a {
		padding-left: 32px;
	}

	.navbar .links {
		padding-right: 32px;
	}
}

@media (max-width: 992px) {
	.navbar .links,
	.navbar .action_btn {
		display: none;
	}

	.navbar .toggle_btn {
		display: block;
	}

	.dropdown_menu {
		display: block;
	}

	.dropdown_menu {
		left: 2rem;
		width: unset;
	}

	.container-sobre-nos {
		flex-direction: column;
		gap: 30px;
		align-items: center;
		padding: 0;
	}

	.container-sobre-nos .about-content {
		align-items: center;
	}

	.container-sobre-nos .about-content h1 {
		font-size: 36px;
		color: #64732f;
		text-align: center;
	}

	.container-sobre-nos .about-content p {
		font-family: "EB Garamond", sans-serif !important;
		text-align: center;
	}

	.testimonials__grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	.container .row .col-md-5 .ms-md-2 .img-fluid {
		max-width: 100%;

		transform: scale(1.2);
	}
	.bannernav {
		min-height: 9vh;
		/* background-image: url(/frontend/static/images/banner2\ 1517-960.png); */
		background-position: bottom center;
		background-size: cover;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.container .row.gx-2.gx-lg-3 {
		display: flex;
		flex-direction: column; /* Empilha as imagens verticalmente */
		gap: 20px; /* Adiciona espaço entre elas */
		align-items: center; /* Centraliza o conteúdo */
	}

	.container .row.gx-2.gx-lg-3 .col-6 {
		width: 65%; /* Reduz o tamanho das imagens */
		max-width: 300px; /* Limita a largura máxima */
		margin: 0 auto; /* Centraliza as imagens horizontalmente */
	}

	.container .row.gx-2.gx-lg-3 .col-6 img {
		width: 100%; /* Ajusta a largura ao contêiner */
		height: auto; /* Mantém a proporção da imagem */
		object-fit: cover; /* Evita distorções */
		border-radius: 12px; /* Mantém o estilo arredondado */
	}
}

@media screen and (max-width: 768px) {
	.card-wrapper {
		margin: 0 10px 25px;
	}

	.card-wrapper .swiper-slide-button {
		display: none;
	}

	.card-list .card-link .card-text {
		height: 50px;
	}

	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}

	.container-newsletter {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.container-newsletter input[type="email"] {
		width: 100%;
	}
	.container .row .col-md-5 .ms-md-2 .img-fluid {
		max-width: 100%;
		height: auto;
		transform: scale(1);
	}
	.container .row .col-md-5 .ms-md-2 .img-fluid {
		width: 100%;
		height: 400px;
		object-fit: cover;
		margin-top: 0;
	}
}

@media (max-width: 578px) {
	.bannernav {
		min-height: 9vh;
	}

	.footer-col {
		width: 100%;
	}

	@media (width < 600px) {
		.testimonials__grid {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

/* Aumenta a imagem em telas grandes (acima de 1200px) */
@media (min-width: 1200px) {
	.container .row .col-md-5 .ms-md-2 .img-fluid {
		width: 100%; /* Garante que a imagem ocupe a largura disponível */
		object-fit: cover; /* Mantém a proporção da imagem */
		transform: scale(1.2);
	}
}

/* Aumenta a área ocupada pela imagem sem esticar para telas entre 900px e 1199px */
@media (min-width: 900px) and (max-width: 1199px) {
	.container .row .col-md-5 .ms-md-2 .img-fluid {
		width: 100%; /* Garante que a imagem ocupe a largura disponível */
		height: 450px; /* Define uma altura fixa um pouco menor */
		object-fit: cover; /* Mantém a proporção da imagem */
	}
}

/* Ajuste para telas médias (entre 768px e 899px) */
@media (min-width: 768px) and (max-width: 899px) {
	.container .row .col-md-5 .ms-md-2 .img-fluid {
		width: 100%; /* Garante que a imagem ocupe a largura disponível */
		height: 400px; /* Define uma altura fixa menor */
		object-fit: cover; /* Mantém a proporção da imagem */
	}
}

/* Em telas muito pequenas (abaixo de 768px), o tamanho padrão é mantido */
@media (max-width: 767px) {
	.container .row .col-md-5 .ms-md-2 .img-fluid {
		width: 100%; /* Garante a largura máxima */
		height: auto; /* Volta para altura automática em telas pequenas */
		object-fit: contain; /* Mantém a proporção sem cortar */
	}
}
